<div *ngIf="module else no_module">
    <div class="card">
      <div class="row">
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">{{ module.name }}</h1>
            <p class="card-text">{{ module.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <ng-template #no_module>
    <div class="alert alert-warning" >
      Film bulunamadı.
    </div>
  </ng-template>
  
  