<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a href="#" class="navbar-brand">SiteMerkez</a>
    <div class="me-auto">
      <app-topmenu></app-topmenu>
    </div>
  </div>
</nav>
