<h1>{{ title }}</h1>

<div class="alert alert-danger" *ngIf="error">
  Server Hata
  <!-- {{ error.message }} -->
</div>

<div class="mb-3">
  <div class="input-group">
    <input
      type="search"
      class="form-control rounded"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="search-addon"
      [(ngModel)]="filterText"
      (keydown.enter)="onKeydown()"
    />

    <button type="button" class="btn btn-danger ms-1" (click)="onClear()">
      Clear
    </button>
    <button
      type="button"
      class="btn btn-outline-primary ms-1"
      (click)="onInputChange()"
    >
      Search
    </button>
  </div>

  <small class="text-muted" *ngIf="filterText"
    >Aradığınız kelime {{ filterText }}</small
  >
</div>

<div class="alert alert-warning">{{ modulesList.length }} modül bulundu.</div>

<div class="card mb-3" *ngFor="let item of modulesList">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title">{{ item.name | titlecase }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <p style="float: right">{{ item.createdOn | date: "fullDate" }}</p>
        <div>
          <a
            routerLink="/modules/{{ item.id }}"
            routerLinkActive="router-link-active"
            class="btn btn-sm btn-outline-primary"
          >
            Details
          </a>

          <button
            (click)="addToList($event, item)"
            class="btn btn-sm btn-primary ms-1"
          >
            Listeye Ekle
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
