<ul class="navbar-nav">
    <li class="nav-item">
      <a href="" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/modules']" routerLinkActive="router-link-active"  class="nav-link">Modules</a>
    </li>

    <li class="nav-item">
      <a routerLink="/modules/create" routerLinkActive="router-link-active"  class="nav-link">Create Module</a>
    </li>
  </ul>