<app-navbar></app-navbar>

<div class="container my-3">
  <div class="row">
    
    <div class="col-md-3">
      <app-leftmenu> </app-leftmenu>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  
  </div>
</div>
